<nav class="navbar navbar-light justify-content-between">
  <%= link_to "Must Watch", lists_path, class: "navbar-brand" %>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<div class="banner">
    <div class="container-fluid">
        <h1>Must Watch</h1>
        <p>List Your Favorite Movies</p>
        <%= link_to "Create A List", new_list_path(@list), class: "button", id: "create" %>
    </div>
</div>
<div class="title alignment">
    <h2>My List</h2>
    <button type="button" data-toggle="collapse" data-target=".cards"><i class="fas fa-chevron-down"></i></button>
</div>
<%# <% if @list.present? %>
<div class="cards alignment">
    <% @lists.each do |list| %>
    <div class="card-category">
        <div class="card-trip-infos">
            <%= link_to list.name, list_path(list) %>
        </div>
    </div>
    <% end %>　　
</div>
<%# <% end %>
<div class="title alignment">
    <h2>Recommended List</h2>
    <button type="button" data-toggle="collapse" data-target=".card-personal"><i class="fas fa-chevron-down"></i></button>
</div>
<div class="cards card-personal alignment">
    <% @lists.each do |list| %>
    <div class="card-category">
        <div class="card-trip-infos">
            <%= link_to list.name, list_path(list) %>
        </div>
    </div>
    <% end %>　　
</div>
<div class="title alignment">
    <h2>Your Friends' Lists</h2>
    <button type="button" data-toggle="collapse" data-target=".card-recommended"><i class="fas fa-chevron-down"></i></button>
</div>
<div class="cards card-recommended alignment">
    <% @lists.each do |list| %>
    <div class="card-category">
        <div class="card-trip-infos">
            <%= link_to list.name, list_path(list) %>
        </div>
    </div>
    <% end %>　　
</div>

