<nav class="navbar navbar-light justify-content-between">
  <a class="navbar-brand">Must Watch</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<div class="container">
  <div class="container-form">
      <h1>Add a list </h1>
      <%= simple_form_for @list do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="https://www.github.com/80andabove"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/shogo-miyagi/"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.instagram.com/shogomiyagi"><i class="fab fa-instagram"></i></a>
  </div>
  <div>
    <%= link_to "Must Watch", lists_path, class: "navbar-brand" %>
  </div>
  <div class="footer-copyright">
    <p>Created by Shogo Miyagi</p>
  </div>
</div>