<nav class="navbar navbar-light justify-content-between">
  <%= link_to "Must Watch", lists_path, class: "navbar-brand" %>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<div class="container">
    <div class="row">
        <div class="movie-name">
            <h1><%= @list.name %></h1>
            <%= link_to "+", new_list_bookmark_path(@list, @bookmark), id: "add" %>
        </div>
        <div class="cards">
            <% @list.bookmarks.each do |bookmark| %>
                <div class="container">
                    <span id="movie-poster"><%= cl_image_tag bookmark.movie.poster_url, height: 500, width: 300 %></span>
                    <%= button_to list_path(@list), method: :delete, data: { confirm: "Are you sure?" }, id: "delete" do %>
                        <i class="fas fa-minus"></i>
                    <% end %>
                        
                    <div class="movie-detail">
                        <h4 class="movie-detail" id="movie-title"><%= bookmark.movie.title %></h4>
                        <p class="movie-detail" id="movie-rating"><%= bookmark.movie.rating %><i class="fas fa-star"></i></p>
                        <p class="movie-detail" id="movie-overview"><%= bookmark.movie.overview %></p>
                        <p class="movie-detail" id="movie-comment">Comments: "<%= bookmark.comment %>"</p>
                    </div>
                </div>
            <% end %>
    </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="https://www.github.com/80andabove"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/shogo-miyagi/"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.instagram.com/shogomiyagi"><i class="fab fa-instagram"></i></a>
  </div>
  <div>
    <%= link_to "Must Watch", lists_path, class: "navbar-brand" %>
  </div>
  <div class="footer-copyright">
    <p>Created by Shogo Miyagi</p>
  </div>
</div>

