<nav class="navbar navbar-light justify-content-between">
  <%= link_to "Must Watch", lists_path, class: "navbar-brand" %>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<div class="container">
  <div class="row">
    <div class="">
      <h1 id="add-movie">Add a Movie </h1>
    </div>
    <div class="bookmark-form">
      <div class="col" id="img-side">
        <img src="https://airows.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_860/MTM2NTE0MTA4NTAwNDg1NzI5/original-9572-1438602103-3jpg.webp" alt="movie-collage">
      </div>
      <div class="col-6" id="form-side">
        <%= simple_form_for [@list, @bookmark] do |f| %>
          <%= f.association :movie,  input_html: { id: "movie" }, label: "Select a Movie", placeholder: "Select a Movie" %> %>
          <%= f.input :comment,  input_html: { id: "comment" }, label: "Add Comments", placeholder: "Must be at least 6 characters", error: "Must be at least 6 characters" %>
          <%= f.submit "Submit", class: "btn btn-primary", id: "submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="https://www.github.com/80andabove"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/shogo-miyagi/"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.instagram.com/shogomiyagi"><i class="fab fa-instagram"></i></a>
  </div>
  <div>
    <%= link_to "Must Watch", lists_path, class: "navbar-brand" %>
  </div>
  <div class="footer-copyright">
    <p>Created by Shogo Miyagi</p>
  </div>
</div>